/*main헤더 스크롤*/
.scroll {background: rgba(0,0,0,0.5); transition: 0.5s;}

/*mv 영역 에니메이션*/
@keyframes zoomin {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      -webkit-transform: scale(2);
      transform: scale(2);
    }
  }

/*mv bxslider영역*/
.bxslider_mv {height: 1063px; overflow: hidden;}
.mv01 {background: url(img/main/mv01.jpg) no-repeat center top / cover; width: 100%; height: 100%; animation: zoomin 50s linear;}
.mv02 {background: url(img/main/mv02.jpg) no-repeat center top / cover; width: 100%; height: 100%; animation: zoomin 50s linear;}
.mv03 {background: url(img/main/mv03.jpg) no-repeat center top / cover; width: 100%; height: 100%; animation: zoomin 50s linear;}

/*mv 영역*/
.mv_text_wrap {max-width: 1590px; margin: 0 auto; padding: 0 10px;}
.mv {position: relative;}
.mv .mv_text {position: absolute; top: 38%; transition: 0.3s;}
.mv .mv_text .mv_p {font-size: 1.3rem; color: #ef7e44; font-weight: bold;}
.mv .mv_text h2 {font-size: 4.15rem; color: #fff; font-weight: bold; padding-top: 20px;}
.mv .mv_text h3 {font-size: 2.4rem; color: #fff; font-weight: bold; padding-bottom: 40px;}
.mv_btn_wrap .btn01 {color: #fff; font-size: 1em; font-weight: bold; position: absolute; bottom: 35%; padding-left: 35px;}
.mv_btn_wrap .btn01 span {color: #fff; font-size: 1em; font-weight: bold;}
.mv_btn_wrap {position: relative;}
.prevBtn_mv {background: url(img/main/arrow_left.png) no-repeat; width: 12px; height: 20px; position: absolute; bottom: 0; left: 0;}
.nextBtn_mv {background: url(img/main/arrow_right.png) no-repeat; width: 12px; height: 20px; position: absolute; bottom: 0; left: 85px;}

/*about 영역*/
.about {background: url(img/main/about_bg.png) no-repeat center top / cover; height: 1175px;}
.about_wrap02 {max-width: 1240px; margin: 0 auto; position: relative;}
.about .about_text {display: flex; justify-content: center; flex-direction: column; text-align: center; padding-top: 5%;}
.about .about_text h2 {font-size: 4.15rem; color: #fff; font-weight: bold;}
.about .about_text .about_line_wrap {width: 100%; display: flex; justify-content: center;}
.about .about_text .about_line {width: 120px; border-bottom: 3px solid #ef7e44; margin: 40px 0;}
.about .about_text p {font-size: 1.7rem; color: #fff; font-weight: bold;}
.about .about_text span {font-size: 2.5rem; color: #fff; font-weight: 400;}
.about .about_item {text-align: center; padding-top: 95px;}
.about .about_item .about_item01 {width:33.333%; height: 490px; padding: 10px;}
.about .about_item .about_item01 .about_item_wrap {background: #1ac0c5; padding-top: 20%; height: 100%; transition: 0.4s;}
.about .about_item .about_item01 .about_item_wrap .icon {background: url(img/main/about_icon1.png) no-repeat center / contain; width: 100%; height: 110px; transition: 0.4s;}
.about .about_item .about_item01 .about_item_wrap h3 {font-size: 2rem; font-weight: bold; padding: 50px 0 50px 0;}
.about .about_item .about_item01 .about_item_wrap p {font-size: 1.3em; font-weight: bold; color: #fff; line-height: 35px;}
.about .about_item .about_item01 .about_item_wrap:hover {background: #fff;}
.about .about_item .about_item01 .about_item_wrap:hover .icon {background: url(img/main/about_icon1_bk.png) no-repeat center / contain; width: 100%; height: 110px; transition: 0.4s;}
.about .about_item .about_item01 .about_item_wrap:hover p {color: #333;}
.about .about_item .about_item02 {width:33.333%; height: 490px; padding: 10px;}
.about .about_item .about_item02 .about_item_wrap {background: #1a70c5; padding-top: 20%; height: 100%; transition: 0.4s;}
.about .about_item .about_item02 .about_item_wrap .icon {background: url(img/main/about_icon2.png) no-repeat center / contain; width: 100%; height: 110px; transition: 0.4s;}
.about .about_item .about_item02 .about_item_wrap h3 {font-size: 2rem; font-weight: bold; padding: 50px 0 50px 0;}
.about .about_item .about_item02 .about_item_wrap p {font-size: 1.3em; font-weight: bold; color: #fff; line-height: 35px;}
.about .about_item .about_item02 .about_item_wrap:hover {background: #fff;}
.about .about_item .about_item02 .about_item_wrap:hover .icon {background: url(img/main/about_icon2_bk.png) no-repeat center / contain; width: 100%; height: 110px;}
.about .about_item .about_item02 .about_item_wrap:hover p {color: #333;}
.about .about_item .about_item03 {width:33.333%; height: 490px; padding: 10px;}
.about .about_item .about_item03 .about_item_wrap {background: #ef7e44; padding-top: 20%; height: 100%; transition: 0.4s;}
.about .about_item .about_item03 .about_item_wrap .icon {background: url(img/main/about_icon3.png) no-repeat center / contain; width: 100%; height: 110px;}
.about .about_item .about_item03 .about_item_wrap h3 {font-size: 2rem; font-weight: bold; padding: 50px 0 50px 0;}
.about .about_item .about_item03 .about_item_wrap p {font-size: 1.3em; font-weight: bold; color: #fff; line-height: 35px;}
.about .about_item .about_item03 .about_item_wrap:hover {background: #fff;}
.about .about_item .about_item03 .about_item_wrap:hover .icon {background: url(img/main/about_icon3_bk.png) no-repeat center / contain; width: 100%; height: 110px;}
.about .about_item .about_item03 .about_item_wrap:hover p {color: #333;}

/*product 영역*/
.product {background: url(img/main/product_bg.png) no-repeat center top / cover; height: 913px;}
.bxslider_pd_wrap {max-width: 1920px; margin: 0 auto;}
.product .product_wrap {display: flex; width: 100%;}
.product .product_text {width: 50%; height: 100%; padding: 10% 0 20% 8%;}
.product .product_text h2 {font-size: 4.15rem; color: #fff; font-weight: bold; padding-bottom: 45px;}
.product .product_text .explain {font-size: 1.3em; font-weight: 300; color: #fff; padding: 45px 0 85px 0; width: 80%;}
.product .product_text a {font-size: 1.3em; font-weight: 400; color: #fff; border: 2px solid #fff; padding: 8px 12px; transition: 0.2s;}
.product .product_text a:hover {background: #1a70c5; border: 2px solid #1a70c5;}
.product .product01 .product_item {width: 50%; height: 100%; padding-top: 14%;}
.product .product01 .product_item .product_item01 {background: url(img/main/product_01.png) no-repeat center; width: 100%; height: 422px;}
.product .product02 .product_item {width: 50%; height: 100%; padding-top: 18%;}
.product .product02 .product_item .product_item01 {background: url(img/main/product_02.png) no-repeat center; width: 100%; height: 258px;}

/*product 버튼*/
.bx-pager {display: flex; position: relative; left: 8%;}

/*R&D영역*/
.research {padding: 5%;}
.research .research_wrap {display: flex;}
.research .research_text {padding: 7% 0; width: 30%;}
.research .research_text h2 {font-size: 4.15rem; font-weight: bold; padding-bottom: 75px;}
.research .research_text p {font-size: 1.3rem; font-weight: 400;}
.research .research_item {width: 70%; display: flex;}
.research .research_item li {padding: 5px; width: 33.333%;}
.research .research_item li:first-child .research_item_text {background: url(img/main/research_img01.png) no-repeat center center; color: #fff; font-size: 1.5rem; font-weight: 400; width: 100%; height: 100%; display: flex; justify-content: flex-end; align-items: flex-end; padding: 0 30px 30px 0; background-size: 100%; transition: background-size .5s ease;}
.research .research_item li:first-child .research_item_text:hover {background-size: 110%;}
.research .research_item li:nth-child(2) .research_item_text {background: url(img/main/research_img02.png) no-repeat center center; color: #fff; font-size: 1.5rem; font-weight: 400; width: 100%; height: 100%; display: flex; justify-content: flex-end; align-items: flex-end; padding: 0 30px 30px 0; background-size: 100%; transition: background-size .5s ease;}
.research .research_item li:nth-child(2) .research_item_text:hover {background-size: 110%;}
.research .research_item li:last-child .research_item_text {background: url(img/main/research_img03.png) no-repeat center center; color: #fff; font-size: 1.5rem; font-weight: 400; width: 100%; height: 100%; display: flex; justify-content: flex-end; align-items: flex-end; padding: 0 30px 30px 0; background-size: 100%; transition: background-size .5s ease;}
.research .research_item li:last-child .research_item_text:hover {background-size: 110%;}

/*미디어 영역*/
.media {background: url(img/main/media_bg.png) no-repeat center top / cover; height: 995px;}
.media .media_wrap {max-width: 1465px; margin: 0 auto; position: relative; padding: 0 10px;}
.media .media_wrap .pr {padding-top: 10%; display: flex;}
.media .media_wrap .pr .pr_text {width: 50%; padding-top: 10%;}
.media .media_wrap .pr .pr_text h2 {font-size: 1.3rem; font-weight: bold; padding-bottom: 10px; color: transparent; background: linear-gradient(to right, #007DC2 0%, #00AB57 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; width: 120px;}
.media .media_wrap .pr .pr_text p {font-size: 2rem; font-weight: bold; color: #fff;}
.media .media_wrap .pr .pr_item {display: flex; width: 50%;}
.media .media_wrap .pr .pr_item li {height: 430px; overflow: hidden; width: 50%; margin: 10px;}
.media .media_wrap .pr .pr_item .pr_item01 a {background: url(img/main/media_img01.png) no-repeat center center / cover; background-size: 120%; width: 100%; height: 100%; transition: background-size .5s ease;}
.media .media_wrap .pr .pr_item .pr_item01 a:hover {background-size: 130%;}
.media .media_wrap .pr .pr_item .pr_item01 a .pr_item_text {display: flex; flex-direction: column; align-items: flex-end; justify-content: flex-end; height: 100%; padding: 0 30px 30px 0;}
.media .media_wrap .pr .pr_item .pr_item01 a .pr_item_text h3 {color: #fff; font-size: 1.5rem; font-weight: 400; padding-bottom: 15px; }
.media .media_wrap .pr .pr_item .pr_item01 a .pr_item_text p {font-size: 1.3rem; font-weight: 300; color: #fff; width: 90%; text-align: right; letter-spacing: -1px;}
.media .media_wrap .pr .pr_item .pr_item02 a {background: url(img/main/media_img02.png) no-repeat center center / cover; background-size: 120%; width: 100%; height: 100%; transition: background-size .5s ease;}
.media .media_wrap .pr .pr_item .pr_item02 a:hover {background-size: 130%;}
.media .media_wrap .pr .pr_item .pr_item02 a .pr_item_text {display: flex; flex-direction: column; align-items: flex-end; justify-content: flex-end; height: 100%; padding: 0 30px 30px 0;}
.media .media_wrap .pr .pr_item .pr_item02 a .pr_item_text h3 {color: #fff; font-size: 1.5rem; font-weight: 400; padding-bottom: 15px;}
.media .media_wrap .pr .pr_item .pr_item02 a .pr_item_text p {font-size: 1.3rem; font-weight: 300; color: #fff; width: 90%; text-align: right; letter-spacing: -1px;}

.media .news {padding-top: 25px; max-width: 1440px; margin: 0 auto; position: relative;}
.media .news .news_text {color: #fff; padding-bottom: 30px;}
.media .news .news_text h2 {font-size: 1.3em; font-weight: bold; padding-bottom: 5px;}
.media .news .news_text p {font-size: 1em; font-weight: 300;}
.media .news .news_item_wrap {position: relative; padding-top: 30px; overflow: hidden; width: 100%;}
.media .news .news_item_wrap .news_item {display: flex; width: 5000px;}
.media .news .news_item_wrap .news_item .news_item01 {width: 360px;}
.media .news .news_item_wrap .news_item .news_item01:last-child {padding-right: 0;}
.media .news .news_item_wrap .news_item .news_item01 .news_item01_text {padding: 20px; width: 345px; height: 195px; position: relative; border: 1px solid #262e34;}
.media .news .news_item_wrap .news_item .news_item01 .news_item01_text h2{overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 1.2em; margin-bottom:5px; color: #fff; font-weight: bold;}
.media .news .news_item_wrap .news_item .news_item01 .news_item01_text p {overflow: hidden; text-overflow: ellipsis; height: 42px; font-size: 1.1em; text-align: justify; white-space: nowrap; color: #666; font-weight: bold;}
.media .news .news_item_wrap .news_item .news_item01 .news_item01_text span {position: absolute; bottom: 30px; color: #666; font-weight: 400; font-size: 1em;}
.media .news .news_item_wrap .news_item .news_item01 .news_item01_text span::before {content: ""; display: inline-block; background: url(img/main/new_date_icon.png) no-repeat 0 0; width: 12px; height: 12px; padding-right: 10px; position: relative; top: 1px;}
.media .news .prevBtn_news {background: url(img/main/news_prev.png) no-repeat; width: 58px; height: 58px; position: absolute; bottom: 20%; left: -75px;}
.media .news .nextBtn_news {background: url(img/main/news_next.png) no-repeat; width: 58px; height: 58px; position: absolute; bottom: 20%; right: -60px;}


@media(max-width: 1750px) {
    .research .research_wrap {flex-wrap: wrap;}
    .research .research_text {display: flex; flex-direction: column; width: 100%; text-align: center; padding-top: 0;}
    .research .research_item {width: 100%;}
    .research .research_item li:first-child {height: 500px;}
    .research .research_item li:nth-child(2) {height: 500px;}
    .research .research_item li:last-child {height: 500px;}
}

@media(max-width: 1630px) {
  .media .news {width: 1080px; justify-content: center;}
  .media .news .news_text {text-align: center;}
}


@media(max-width: 1250px) {
    .bxslider_mv {height: 900px;}
    .mv .mv_text {top: 40%;}
    .btn01 {display: none;}
    .prevBtn_mv {display: none;}
    .nextBtn_mv {display: none;}
    .product {height: 800px;}
    .media .media_wrap .pr {flex-direction: column; padding-top: 0;}
    .media .media_wrap .pr .pr_text {width: 100%; text-align: center; padding-top: 5%; padding-bottom: 5%;}
    .media .media_wrap .pr .pr_text h2 {width: 100%;}
    .media .media_wrap .pr .pr_item {width: 100%;}
    .media .media_wrap .pr .pr_item li {height: 350px;}
    .media .media_wrap .pr .pr_item .pr_item01 a .pr_item_text p {width: 60%;}
    .media .media_wrap .pr .pr_item .pr_item02 a .pr_item_text p {width: 60%;}
    .media .news {padding-top: 50px;}
    .media .news {width: 720px; justify-content: center;}
}

@media(max-width: 980px) {
    .bxslider_mv {height: 700px;}
    .mv .mv_text {top: 35%;}
    .about .about_text {padding-top: 10%;}
    .about .about_item {flex-direction: column; padding-top: 50px;}
    .about .about_item .about_item01 {width: 100%; height: 250px;}
    .about .about_item .about_item02 {width: 100%; height: 250px;}
    .about .about_item .about_item03 {width: 100%; height: 250px;}
    .about .about_item .about_item01 .about_item_wrap {padding-top: 0; display: flex; flex-direction: column; justify-content: center;}
    .about .about_item .about_item01 .about_item_wrap h3 {padding: 20px 0 0 0;}
    .about .about_item .about_item01 .about_item_wrap p {display: none;}
    .about .about_item .about_item02 .about_item_wrap {padding-top: 0; display: flex; flex-direction: column; justify-content: center;}
    .about .about_item .about_item02 .about_item_wrap h3 {padding: 20px 0 0 0;}
    .about .about_item .about_item02 .about_item_wrap p {display: none;}
    .about .about_item .about_item03 .about_item_wrap {padding-top: 0; display: flex; flex-direction: column; justify-content: center;}
    .about .about_item .about_item03 .about_item_wrap h3 {padding: 20px 0 0 0;}
    .about .about_item .about_item03 .about_item_wrap p {display: none;}
    .product {display: none;}
    .research .research_item {flex-direction: column;}
    .research .research_item li {width: 100%;}
    .research .research_item li:first-child {height: 150px;}
    .research .research_item li:nth-child(2) {height: 150px;}
    .research .research_item li:last-child {height: 150px;}
    .media {height: 950px;}
    .media .media_wrap .pr {padding-top: 5%;}
    .media .media_wrap .pr .pr_item {display: flex; flex-wrap: wrap;}
    .media .media_wrap .pr .pr_item li {width: 100%; height: 150px;}
    .media .media_wrap .pr .pr_item .pr_item01 a .pr_item_text p {width: 45%;}
    .media .media_wrap .pr .pr_item .pr_item02 a .pr_item_text p {width: 45%;}
    .media .media_wrap .news {padding-top: 10%}
    .media .news {width: 360px; justify-content: center;}
}

@media(max-width: 580px) {
  .media .news .prevBtn_news {left: 100px; bottom: -70px;}
  .media .news .nextBtn_news {right: 115px; bottom: -70px;}
}