.sub_center {max-width: 1420px; margin: 0 auto; position: relative; padding: 0 10px;}
button {background: none; border: none;}

/*sub헤더 영역*/
.sub_header {position: fixed; width: 100%; z-index: 1;}
.sub_header .sub_h_inner {padding: 0 10px; align-items: center; position: relative;}
.sub_header .sub_h_inner .logo {height: 81px;}
.sub_header .sub_h_inner .logo a {background: url(img/sub/logo_red.png) no-repeat 0 0; width: 86px; height: 81px;}
.sub_header .sub_h_inner .sub_navi {}
.sub_header .sub_h_inner .sub_navi .navi_list {display: flex;}
.sub_header .sub_h_inner .sub_navi .navi_list li {margin-right: 88px; line-height: 120px; /*border-bottom: 2px solid rgba(237,28,36,0);*/ transition: all 0.3s;}
.sub_header .sub_h_inner .sub_navi .navi_list li:last-child {margin-right: 0;}
.sub_header .sub_h_inner .sub_navi .navi_list li:hover .navi_line {width: 100%; height: 2px; background: #ed1c24; z-index: 1; position: absolute; top: 120px;}
.sub_header .sub_h_inner .sub_navi .navi_list li a {font-size: 1.25em; font-weight: bold;}
/*.sub_header:hover .header_line {width: 100%; height: 1px; background: rgba(0,0,0,0.1); z-index: 1; position: absolute; top: 120px;}*/
.sub_header .sub_h_inner .snb {display: flex;}
.sub_header .sub_h_inner .snb li {padding-right: 10px;}
.sub_header .sub_h_inner .snb li:last-child {padding-right: 0;}
.sub_header .sub_h_inner .snb li:first-child::after {content: ""; display: inline-block; width: 1px; height: 12px; background: #000; margin-left: 10px;}
.sub_header .sub_h_inner .snb li a {font-size: 1.25em; font-weight: 400;}
.sub_header .sub_h_inner .pc_btn {background: url(img/sub/menu_black.png) no-repeat 0 0; width: 28px; height: 18px; margin-left: 20px;}
.sub_header .sub_h_inner .m_btn {background: url(img/sub/menu_black.png) no-repeat 0 0; width: 28px; height: 18px; margin-left: 20px; display: none;}

/*sub gnb 영역*/
.sub_gnb {width: 100%; height: 280px; background: #fff; top: 121px; position: absolute; z-index: 1; display: none; border-top: 1px solid #e1e1e1;}
.sub_gnb ul {padding-top: 60px; width: 150px; padding-left: 30px;}
.sub_gnb ul li {padding-bottom: 15px;}
.sub_gnb ul li a {color: #000; font-size: 1em; font-weight: 400; border-bottom: 1px solid rgba(237,28,36,0);}
.sub_gnb ul li a:hover {text-decoration: underline #ed1c24; color: #ed1c24;}

/*sub_네비게이션 영역*/
.sub .navi2 {padding-top: 120px;}
.sub .navi2 .sub_navi2 {display: flex; justify-content: flex-start; padding: 5% 0;}
.sub .navi2 .sub_navi2 li {padding-right: 15px;}
.sub .navi2 .sub_navi2 li:last-child {padding-right: 0;}
.sub .navi2 .sub_navi2 li a {font-size: 1em; font-weight: 400; color: #666;}
.sub .navi2 .sub_navi2 li:first-child a {background: url(img/sub/home.png) no-repeat 0 0; width: 15px; height: 14px; position: relative; top: 2px;}
.sub .navi2 .sub_navi2 li:nth-child(2)::before {content: ""; display: inline-block; background: url(img/sub/arrow_right_gray.png) no-repeat 0 0 / contain; width: 8px; height: 12px; padding-right: 15px; position: relative; top: 1px;}
.sub .navi2 .sub_navi2 li:last-child:before {content: ""; display: inline-block; background: url(img/sub/arrow_right_gray.png) no-repeat 0 0 / contain; width: 8px; height: 12px; padding-right: 15px; position: relative; top: 1px}

/*sub_텝메뉴 영역*/
.sub .navi2 .intro_tit {padding-top: 5%;}
.sub .navi2 .intro_tit h2 {font-size: 2.6rem; font-weight: 300;}
.sub .navi2 .intro_tit h2 span {font-weight: bold;}
.sub .navi2 .tab_menu {display: flex; justify-content: flex-start; padding-top: 8%;}
.sub .navi2 .tab_menu li {padding-right: 70px;}
.sub .navi2 .tab_menu li:last-child {padding-right: 0;}
.sub .navi2 .tab_menu li a {font-size: 1.3rem; color: #ccc; font-weight: bold; padding-bottom: 16px;}
.sub .navi2 .tab_menu li a.on {color: #ed1c24; text-decoration: underline;}
.sub .navi2 .tab_menu li a:hover {color: #ed1c24; text-decoration: underline;}
/*
.sub .navi2 .tab_menu li:first-child a:hover {display: none;}
.sub .navi2 .tab_menu li:first-child a {color: #ed1c24;}
.sub .navi2 .tab_menu li:first-child .tab_bar {border-bottom: 1px solid #ed1c24;}
*/

/*sub헤더 스크롤*/
.sub_scroll {background: #fff;}

/*분자구조 영역*/
.sub .navi2 .bg_item01 {background: url(img/sub/sub1_bg_item01.png) no-repeat 0 0; width: 394px; height: 419px; position: absolute; top: 170px; right: 0; animation: bg_item_b 6s infinite ease-in-out alternate;}
.sub .navi2 .bg_item02 {background: url(img/sub/sub1_bg_item02.png) no-repeat 0 0; width: 62px; height: 74px; position: absolute; top: 270px; right: 420px; animation: bg_item_s 35s infinite linear alternate;}
.sub .navi2 .bg_item03 {background: url(img/sub/sub1_bg_item03.png) no-repeat 0 0; width: 54px; height: 73px; position: absolute; top: 320px; right: 55px; animation: bg_item_s 25s infinite linear reverse;}
.sub .navi2 .bg_item04 {background: url(img/sub/sub1_bg_item04.png) no-repeat 0 0; width: 90px; height: 67px; position: absolute; top: 580px; right: 120px; animation: bg_item_s 40s infinite linear alternate;}

/*분자구조 에니메이션 영역*/
@keyframes bg_item_b {
    0% {transform: rotate(0);}
    50% {transform: rotate(8deg);}
    100% {transform: translateY(10%) rotate(-8deg);}
}
@keyframes bg_item_s {
    100% {transform: rotate(720deg);}
}
/*sub 타이틀*/
.sub .content {padding-top: 7%;}
.sub .content .content_tit {text-align: center;}
.sub .content .content_tit h2 {font-size: 3.8rem; font-weight: bold;}
.sub .content .content_tit h2 span {color: #ed1c24;}
.sub .content .content_tit p {font-size: 1.7rem; font-weight: bold; padding-top: 25px;}

/*미디어커리 영역*/
@media(max-width: 1250px){
    .sub .navi2 .bg_item {display: none;}
}

@media(max-width: 980px) {
    .sub_header {padding: 20px 0;}
    .sub_header .sub_h_inner .sub_navi {display: none;}
    .sub_header .sub_h_inner .snb {display: none;}
    .sub_header .sub_h_inner .pc_btn {display: none;}
    .sub_header .sub_h_inner .m_btn {display: block;}
    .sub .navi2 {text-align: center;}
    .sub .navi2 .sub_navi2 {display: flex; justify-content: center;}
    .sub .navi2 .intro_tit {text-align: center;}
    .sub .navi2 .tab_menu {display: flex; justify-content: center;}
    .sub .navi2 .tab_menu li {padding-right: 30px;}
    .sub .content .content_tit {padding-bottom: 7%;}
    .sub .content .content_tit h2 {font-size: 2.8rem;}
    .sub .content .content_tit p {font-size: 1.5rem;}
}