
 header {
	background-color:#ff6699;
	height:100px;
	width:1300px;
 }
 nav {
	background-color:#ccffcc;
	height:50px;
	width:1300px;
	margin-top:-16px;
	text-align:center;
 }
 aside {
	background-color:#ffff99;
	width:250px;
	float:left;
	height:1500px;
 }
 section {
	margin-left:250px;
	/*background-color:#99ccff;*/
	height:1500px;
	width:1050px;
 }
 footer {
	background-color:#ffcc99;
	height:100px;
	width:1300px;
 }
 
 a {
	text-decoration:none;
 } 
 
 ul{
	position:relative;
	left:25%;
	top:20%;
 }
 
 .menu_li {
	float:left;
	margin-right:3px;
	width:100px;
	padding:7px;
	background-color:#ffccff;
	list-style:none;
	font-size:12px;
	text-align:center;
	border-radius:5px;	
 }
 