/*회사소개_인사말 영역*/
.sub .content .sub01_item {background: #f7f7f7; margin-top: 5%;}
.sub .content .sub01_item .item_wrap {padding-top: 10%;}
.sub .content .sub01_item .item_wrap .content_item01 {padding-bottom: 60px;}
.sub .content .sub01_item .item_wrap .content_item01 h2 {font-size: 1.7rem; font-weight: bold; padding-bottom: 30px;}
.sub .content .sub01_item .item_wrap .content_item01 h2 span {color: #ed1c24;}
.sub .content .sub01_item .item_wrap .content_item01 p {font-size: 1.1rem; font-weight: 400;}
.sub .content .sub01_item .item_wrap .ceo {font-size: 1.5rem; font-weight: bold; padding-bottom: 60px;}
.sub .content .sub01_item .ceo_img_wrap {position: relative;}
.sub .content .sub01_item .ceo_img_wrap .ceo_img {background: url(img/sub01/ceo.png) no-repeat 0 0 / cover; width: 616px; height: 900px; position: absolute; right: 0; bottom: 0;}

/*제품정보_제품 검색 영역*/
/*검색바 영역*/
.search {padding: 10% 0 7% 0; width: 100%; }
.search_inner {display: flex; justify-content: center;}
.search form {border: 3px solid #000; border-radius: 100px; width: 65%; height: 100px;}
.search form .form_inner {height: 100%; padding: 20px; display: flex; align-items: center; justify-content: center; text-align: center;}
.search form .form_inner input {width: 90%; height: 50px; line-height: 30px; border: none; display: block; text-align: center; font-size: 1.3rem; outline: none;}
.search form .form_inner button {background: url(img/sub02/search_icon.png) no-repeat center; width: 35px; height: 35px; cursor: pointer;}
.keyword {padding-top: 13%;}
.key_abc {display: flex; padding-bottom: 40px;}
.key_abc p {width: 18%; font-size: 1.5em; font-weight: 500;}
.key_abc p::after {content: ""; display: inline-block; background: url(img/sub02/search_icon2.png) no-repeat; width: 24px; height: 24px; padding-right: 15px; position: relative; top: 4px;}
.key_abc ul {width: 82%;}
.key_abc ul li {width: 62px; height: 62px; background: #f5f5f5; border-radius: 100%; font-size: 1.4em; font-weight: 500; transition: 0.2s;}
.key_abc ul li:hover {background: #e1e1e1;}
.key_abc ul li a {display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;}
.key_item {display: flex;}
.key_item p {width: 18%; font-size: 1.5em; font-weight: 500;}
.key_item p::before {content: ""; display: inline-block; background: url(img/sub02/search_icon3.png) no-repeat; width: 24px; height: 24px; padding-right: 15px; position: relative; top: 4px;}
.key_item ul {width: 82%; display: flex;}
.key_item ul li {font-size: 1.4em; font-weight: 500; width: 140px; height: 62px; background: #f5f5f5; border-radius: 100px; margin-right: 25px; transition: 0.2s;}
.key_item ul li:hover {background: #e1e1e1;}
.key_item ul li:nth-child(4) {width: 160px;}
.key_item ul li:last-child {width: 62px; margin-right: 0;}
.key_item ul li a {display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;}
.key_item ul li:last-child a {background: url(img/sub02/search_icon4.png) no-repeat; width: 21px; height: 21px; position: relative; top: 21px; left: 21px;}
/*제품 목록 영역*/
.product_line {border-bottom: 1px solid #000;}
.pro_wrap .pro_count {font-size: 1.3rem; font-weight: 400; padding: 7% 0 6% 0;}
.pro_wrap .pro_count span {font-weight: bold;}
.pro_item {flex-wrap: wrap;}
.pro_item li a {width: 450px; height: 450px; border: 1px solid #e3e3e3; border-radius: 50px; margin-bottom: 30px; transition: 0.3s;}
.pro_item li a:hover {background: rgba(0, 102, 204, 0.3);}
.pro_item li a:hover::before {background: url(img/sub02/product_hover.png) no-repeat center; width: 62px; height: 62px; content: ""; display: inline-block; position: relative; top: 194px; right: 194px; float: right;}
.pro_item li a img {width: 364px; height: 364px; position: relative; top: 43px; left: 43px; z-index: -1;}
.pro_item li .pro_item_text p {background: #f5f5f5; border-radius: 50px; width: 100px; height: 30px; font-size: 1em; font-weight: 400; color: #ed1c24; display: flex; justify-content: center; align-items: center;}
.pro_item li .pro_item_text h3 {padding: 20px 0 22% 0;}
.pro_btn {display: flex; justify-content: center; padding: 10% 0 10% 0;}
.pro_btn li {padding-right: 25px;}
.pro_btn li a {font-size: 1.3rem; font-weight: 500; color: #999;}
.pro_btn li:first-child {background: url(img/sub02/pro_btn_prev_db.png) no-repeat; width: 13px; height: 14px; position: relative; top: 9px; cursor: pointer;}
.pro_btn li:nth-child(2) {background: url(img/sub02/pro_btn_prev.png) no-repeat; width: 8px; height: 14px; position: relative; top: 9px; cursor: pointer;}
.pro_btn li:nth-child(8) {background: url(img/sub02/pro_btn_next.png) no-repeat; width: 8px; height: 14px; position: relative; top: 9px; cursor: pointer;}
.pro_btn li:last-child {background: url(img/sub02/pro_btn_next_db.png) no-repeat; width: 13px; height: 14px; padding-right: 0; position: relative; top: 9px; cursor: pointer;}
.pro_btn li:nth-child(3) a {text-decoration: underline #000; color: #000;}
.pro_btn li a:hover {color: #333; text-decoration: underline #333;}
.pro_btn li:nth-child(3) a:hover {display: none;}

/*연구개발_R&D소개 영역*/
.rd_item {padding: 10% 0 0 0;}
.rd_item01 {display: flex; padding-bottom: 12%;}
.rd_item01_tit {width: 20%;}
.rd_item01 span {width: 3px; height: 1.7rem; background: #ed1c24; position: relative; top: 8px;}
.rd_item01 h3 {width: 20%; font-size: 1.7rem; font-weight: bold; color: #000; padding-left: 10px;}
.rd_item01 .rd_item_text {width: 80%; font-size: 1.25rem; font-weight: 400; color: #333; line-height: 40px;}
.rd_item02 {display: flex; padding-bottom: 12%;}
.rd_item02 span {width: 3px; height: 1.7rem; background: #ed1c24; position: relative; top: 8px;}
.rd_item02 h3 {width: 20%; font-size: 1.7rem; font-weight: bold; color: #000; padding-left: 10px;}
.rd_item02 .rd_item_text {width: 80%; font-size: 1.25rem; font-weight: 400; color: #333; line-height: 40px;}
.rd_item03 {display: flex;}
.rd_item03 > span {width: 3px; height: 1.7rem; background: #ed1c24; position: relative; top: 8px;}
.rd_item03 > h3 {width: 20%; font-size: 1.7rem; font-weight: bold; color: #000; padding-left: 10px;}
.rd_item03_wrap {display: flex; flex-wrap: wrap; width: 80%;}
.rd_item03_wrap > li {display: flex; width: 50%; padding-bottom: 8%;}
.rd_item03_01 {display: flex;}
.rd_item03_wrap > li:first-child img {width: 90px; height: 97px; position: relative; top: 10px;}
.rd_item03_wrap > li:nth-child(2) img {width: 90px; height: 102px; position: relative; top: 10px;}
.rd_item03_wrap > li:nth-child(3) img {width: 90px; height: 90px; position: relative; top: 8px;}
.rd_item03_wrap > li:last-child img {width: 90px; height: 88px; position: relative; top: 8px;}
.rd_item03_text {padding-left: 50px;}
.rd_item03_text h3 {font-size: 1.7rem; font-weight: bold; color: #000; padding-bottom: 60px;}
.rd_item03_text p {font-size: 1.25rem; font-weight: 400; color: #333; line-height: 30px;}

.RD_item04 {background: url(img/sub03/rd_item04_bg.png) no-repeat top center / cover; width: 100%; height: 760px;}
.rd_item04 {display: flex; padding-top: 8%;}
.rd_item04 > span {width: 3px; height: 1.7rem; background: #ed1c24; position: relative; top: 8px;}
.rd_item04 > h3 {width: 20%; font-size: 1.7rem; font-weight: bold; color: #fff; padding-left: 10px;}
.rd_item04_wrap {display: flex; flex-wrap: wrap; width: 80%; justify-content: space-between;}
.rd_item04_wrap > li {display: flex; width: 50%; padding-bottom: 6%;}
.rd_item04_box01 {display: flex; position: relative; top: -40px; left: -40px; background: rgba(0, 0, 0, 0.3); padding: 7%; width: 90%;}
.rd_item04_box01 img {width: 90px; height: 90px; position: relative; top: 10px;}
.rd_item04_box02 {display: flex; position: relative; top: -40px; left: -40px; background: rgba(0, 0, 0, 0.3); padding: 7%; width: 90%;}
.rd_item04_box02 img {width: 90px; height: 73px; position: relative; top: 10px;}
.rd_item04_box03 {display: flex; position: relative; top: -40px; left: -40px; background: rgba(0, 0, 0, 0.3); padding: 7%; width: 90%;}
.rd_item04_box03 img {width: 90px; height: 85px; position: relative; top: 8px;}
.rd_item04_box04 {display: flex; position: relative; top: -40px; left: -40px; background: rgba(0, 0, 0, 0.3); padding: 7%; width: 90%;}
.rd_item04_box04 img {width: 90px; height: 90px; position: relative; top: 8px;}
.rd_item04_text {padding-left: 50px;}
.rd_item04_text h3 {font-size: 1.7rem; font-weight: bold; color: #fff; padding-bottom: 60px;}
.rd_item04_text p {font-size: 1.25rem; font-weight: 400; color: #fff; line-height: 30px;}

/*IR자료실_사업보고서 영역*/
/*검색창,페이지이동버튼 sub02와 동일*/
.bb_top {font-size: 1.5rem; font-weight: 500; padding-bottom: 25px;}
.bb_top p {line-height: 60px;}
.bb_cate a:first-child {background: #ed1c24; color: #fff; width: 90px; height: 60px; border-radius: 50px; text-align: center; line-height: 60px; margin-right: 15px;}
.bb_cate a:nth-child(2) {background: #f5f5f5; color: #000; width: 135px; height: 60px; border-radius: 50px; text-align: center; line-height: 60px; margin-right: 15px;}
.bb_cate a:last-child {background: #f5f5f5; color: #000; width: 135px; height: 60px; border-radius: 50px; text-align: center; line-height: 60px;}
.bb_cate a:nth-child(2):hover {background: #e1e1e1;}
.bb_cate a:nth-child(3):hover {background: #e1e1e1;}
.bb_tit {background: #f5f5f5; border-top: 1px solid #9b9b9b; display: flex; text-align: center; font-size: 1.3rem; height: 90px; align-items: center;}
.bb_tit h3:first-child {width: 10%;}
.bb_tit h3:nth-child(2) {width: 40%;}
.bb_tit h3:nth-child(3) {width: 35%;}
.bb_tit h3:last-child {width: 15%;}
.bb_contents {display: flex; font-size: 1.1rem; font-weight: 400; color: #000; border-bottom: 1px solid #e4e4e4; height: 90px; align-items: center;}
.bb_contents h4:first-child {width: 10%; text-align: center;}
.bb_contents h4:nth-child(2) {width: 40%; padding-left: 50px;}
.bb_contents h4:nth-child(2) a:hover {text-decoration: underline;}
.bb_contents h4:nth-child(3) {width: 35%; text-align: center;}
.bb_contents p {width: 15%;}
.bb_contents p a {background: url(img/sub04/dounload_icon.png) no-repeat; width: 18px; height: 18px; position: relative; left: 50%; transform: translateX(-50%);}
/*사업보고서 게시글 영역*/
.navi2 > h2 {padding-top: 5%;}
.bb_sub {padding-top: 5%;}
.bb_sub_tit {border-bottom: 3px solid #000;}
.bb_sub_tit p {font-size: 1.3rem; font-weight: bold; color: #666; padding-bottom: 35px;}
.bb_sub_tit h3 {font-size: 2rem; font-weight: bold; color: #000; padding-bottom: 30px;}
.bb_sub_download {border-bottom: 1px solid #ccc; padding: 22px 0;}
.bb_sub_download a p {font-size: 1rem; font-weight: 400; color: #666;}
.bb_sub_download a p:hover {text-decoration: underline;}
.bb_sub_download a p::after {content: ""; display: inline-block; background: url(img/sub04/dounload_icon.png) no-repeat; width: 18px; height: 18px; margin-left: 25px;}
.bb_sub_text {border-bottom: 1px solid #ccc; padding: 5% 0 10% 0;}
.bb_sub_text p {font-size: 1.3rem; font-weight: bold; color: #000;}
.bb_sub_list {display: flex; justify-content: center; padding: 20px 0 10% 0;}
.bb_sub_list a {width: 140px; height: 62px; background: #f2720b; color: #fff; border-radius: 50px; font-size: 1.3rem; font-weight: 500; text-align: center; line-height: 62px; transition: 0.3s;}
.bb_sub_list a:hover {background: #f3852c;}

/*사회공헌_개요 영역*/
.item_wrap {padding-top: 10%;}
.cam01 {flex-wrap: wrap; display: flex;}
.cam_img {width: 50%;}
.cam_img img {width: 88%;}
.cam_text {width: 50%;}
.cam01 .cam_text {display: flex; flex-direction: column; justify-content: center; align-items: center; padding-left: 60px;}
.cam02 {flex-wrap: wrap; display: flex; padding-bottom: 10%;}
.cam02 .cam_img {order: 2; display: flex; justify-content: flex-end;}
.cam02 .cam_text {order: 1; display: flex; flex-direction: column; justify-content: center; align-items: center; padding-right: 60px;}
.cam_text h3 {font-size: 2.5rem; font-weight: bold; color: #000; padding-bottom: 30px;}
.cam_text p {font-size: 1.5rem; font-weight: 400; color: #333;}
.cam03 {padding: 5%; border: 1px solid #e1e1e1; border-radius: 50px; margin: 5% 5% 10% 5%;}
.cam03 .cam_text {width: 100%;}
.cam03_wrap {padding-top: 7%; flex-wrap: wrap; display: flex; justify-content: space-between;}
.cam03_item {width: 32%;}
.cam03_item img {width: 100%;}
.cam03_text {text-align: center; padding-top: 6%;}
.cam03_text h4 {font-size: 1.7rem; font-weight: bold; color: #000; padding-bottom: 4%;}
.cam03_text p {font-size: 1.1rem; font-weight: 400; color: #333;}


@media(max-width:1500px) {
    .pro_btn li:first-child {top: 7px;}
    .pro_btn li:nth-child(2) {top: 7px;}
    .pro_btn li:nth-child(8) {top: 7px;}
    .pro_btn li:last-child {top: 7px;}
}

@media(max-width: 1400px) {
    .pro_item {display: flex; justify-content: center;}
    .pro_item li {padding: 0 50px;}
}

@media(max-width: 1320px) {

}

@media(max-width: 1280px) {
    .rd_item01 span {top: 0;}
    .rd_item01 {flex-direction: column; align-items: center; padding-bottom: 12%;}
    .rd_item01 h3 {width: 100%; text-align: center; padding-bottom: 7%; padding-left: 0;}
    .rd_item01 .rd_item_text {width: 100%; text-align: center;}
    .rd_item02 span {top: 0;}
    .rd_item02 {flex-direction: column; align-items: center; padding-bottom: 10%;}
    .rd_item02 h3 {width: 100%; text-align: center; padding-bottom: 7%; padding-left: 0;}
    .rd_item02 .rd_item_text {width: 100%; text-align: center;}
    .rd_item03 {flex-direction: column; align-items: center; padding-bottom: 5%;}
    .rd_item03 > span {top: 0;}
    .rd_item03 > h3 {width: 100%; text-align: center; padding-bottom: 7%; padding-left: 0;}
    .rd_item03_wrap {width: 100%;}
    .rd_item03_wrap > li {justify-content: center; align-items: center; padding: 3%;}
    .rd_item03_wrap > li .rd_item03_01 {border: 1px solid rgba(0, 0, 0, 0.3); width: 100%; justify-content: center; align-items: center; padding: 8% 0;}
    .RD_item04 {margin-top: 5%;}
    .rd_item04 {padding-top: 4%;}
    .rd_item04 > span {top: 0;}
    .rd_item04 > h3 {width: 100%; text-align: center; padding-bottom: 7%; padding-left: 0;}
    .rd_item04 {flex-direction: column; align-items: center; padding-bottom: 10%;}
    .rd_item04_wrap {width: 100%; padding-top: 3%;}
    .rd_item04_wrap > li {width: 50%; margin: 0; padding-bottom: 3%; justify-content: center; align-items: center;}
    .rd_item04_box01 {justify-content: center; align-items: center; left: 0; padding: 5%;}
    .rd_item04_box02 {justify-content: center; align-items: center; left: 0; padding: 5%;}
    .rd_item04_box03 {justify-content: center; align-items: center; left: 0; padding: 5%;}
    .rd_item04_box04 {justify-content: center; align-items: center; left: 0; padding: 5%;}
}

@media(max-width: 1250px) {
    .sub .content .sub01_item .item_wrap {text-align: center;}
    .sub .content .sub01_item .ceo_img_wrap {display: none;}
}

@media(max-width: 1100px) {
    .keyword {display: none;}
    .product_line {padding-top: 13%;}
}

@media(max-width: 1136px) {
    .pro_item li .pro_item_text {display: flex; flex-direction: column; align-items: center;}
}

@media(max-width: 980px) {
    .search {padding-top: 0;}
    .search form {height: 60px;}
    .search form .form_inner button {width: 28px; height: 28px; background-size: contain;}
    .product_line {padding-top: 10%;}
    .pro_item li .pro_item_text h3 {padding-bottom: 15%;}
    .pro_btn li:first-child {top: 5px;}
    .pro_btn li:nth-child(2) {top: 5px;}
    .pro_btn li:nth-child(8) {top: 5px;}
    .pro_btn li:last-child {top: 5px;}
    .rd_item03 > h3 {padding-bottom: 10%;}
    .rd_item03_wrap > li {width: 100%;}
    .rd_item03_text h3 {padding-bottom: 30px;}
    .rd_item04_wrap > li {width: 50%;}
    .rd_item04 > h3 {font-size: 2rem;}
    .rd_item04 > span {margin-top: 8%;}
    .bb_top {justify-content: flex-end;}
    .bb_cate {display: none;}
    .bb_tit {height: 70px;}
    .bb_contents {height: 70px;}
    .bb_sub_tit p {padding-bottom: 20px;}
    .bb_sub_tit h3 {padding-bottom: 15px;}
    .bb_sub_list a {height: 45px; width: 100px; line-height: 45px;}
    .cam_img {width: 100%;}
    .cam_img img {width: 70%; padding-bottom: 10%;}
    .cam_text {width: 100%; padding-bottom: 15%;}
    .cam01 .cam_img img {position: relative; left: 15%;}
    .cam01 .cam_text {padding-left: 0;}
    .cam02 .cam_img {order: 1;}
    .cam02 .cam_img img {position: relative; right: 15%;}
    .cam02 .cam_text {padding-right: 0;}
    .cam02 .cam_text {order: 2;}
    .cam03 {padding-top: 10%;}
    .cam03 .cam_text {text-align: center;}
    .cam03_wrap {justify-content: center;}
    .cam03_item {width: 70%; padding-bottom: 15%;}
}

@media(max-width: 850px) {
    .rd_item04 > span {margin-top: 35px;}
    .rd_item04 > h3 {padding-bottom: 50px;}
    .rd_item04_wrap > li {padding-bottom: 5%;}
    .RD_item04 {height: 600px;}
    .rd_item04_box01 img {display: none;}
    .rd_item04_box02 img {display: none;}
    .rd_item04_box03 img {display: none;}
    .rd_item04_box04 img {display: none;}
    .rd_item04_text {padding-left: 0; text-align: center;}
    .rd_item04_text h3 {padding-bottom: 25px;}
}